body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left:15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.bd-sidebar{
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
}

.bd-navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
    min-height: 4rem;
    background-color: darkgrey;

}

.bd-toc-item.active{
    margin-bottom: 1rem;
}

.bd-toc-item.active>.bd-sidenav{
    display: block;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.bd-sidebar .nav>li>a{
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;
}

ul{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.col-md-3{
    flex:0 0 25%;
    max-width: 25%;
}
